<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
        <Montareno_Catalog>
            <version>1.0.0.8</version>
        </Montareno_Catalog>
	</modules>
	<global>
		<models>
			<montareno_catalog>
				<class>Montareno_Catalog_Model</class>
			</montareno_catalog>
		</models>
		<resources>
			<montareno_catalog_setup>
				<setup>
					<module>Montareno_Catalog</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</montareno_catalog_setup>
		</resources>
		<helpers>
			<montareno_catalog>
				<class>Montareno_Catalog_Helper</class>
			</montareno_catalog>
		</helpers>
		<blocks>
			<montareno_catalog>
				<class>Montareno_Catalog_Block</class>
			</montareno_catalog>
			<catalog>
				<rewrite>
					<product_list>Montareno_Catalog_Block_Product_List</product_list>
				</rewrite>
			</catalog>
		</blocks>
		<events>
			<cataloginventory_stock_item_save_commit_after>
				<observers>
					<montareno_catalog_stockupdate>
						<class>Montareno_Catalog_Model_Observer</class>
						<method>catalogInventorySave</method>
					</montareno_catalog_stockupdate>
				</observers>
			</cataloginventory_stock_item_save_commit_after>
			<sales_model_service_quote_submit_before>
				<observers>
					<montareno_catalog_stockupdate>
						<class>Montareno_Catalog_Model_Observer</class>
						<method>updateQuoteInventory</method>
					</montareno_catalog_stockupdate>
				</observers>
			</sales_model_service_quote_submit_before>
			<sales_model_service_quote_submit_failure>
				<observers>
					<montareno_catalog_stockupdate>
						<class>Montareno_Catalog_Model_Observer</class>
						<method>updateQuoteInventory</method>
					</montareno_catalog_stockupdate>
				</observers>
			</sales_model_service_quote_submit_failure>
			<sales_order_item_cancel>
				<observers>
					<montareno_catalog_stockupdate>
						<class>Montareno_Catalog_Model_Observer</class>
						<method>cancelOrderItem</method>
					</montareno_catalog_stockupdate>
				</observers>
			</sales_order_item_cancel>
			<sales_order_creditmemo_save_after>
				<observers>
					<montareno_catalog_stockupdate>
						<class>Montareno_Catalog_Model_Observer</class>
						<method>refundOrderInventory</method>
					</montareno_catalog_stockupdate>
				</observers>
			</sales_order_creditmemo_save_after>
		</events>
	</global>
    <frontend>
        <layout>
            <updates>
                <Montareno_Catalog>
                    <file>montareno_catalog.xml</file>
                </Montareno_Catalog>
            </updates>
        </layout>
	</frontend>
</config>